In [2]:
import kagglehub

path = kagglehub.dataset_download("ankushpanday2/heart-attack-risk-and-prediction-dataset-in-india")

print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/ankushpanday2/heart-attack-risk-and-prediction-dataset-in-india?dataset_version_number=1...

100%|██████████| 269k/269k [00:00<00:00, 65.0MB/s]

Extracting files...
Path to dataset files: /root/.cache/kagglehub/datasets/ankushpanday2/heart-attack-risk-and-prediction-dataset-in-india/versions/1

In [3]:
import pandas as pd
import os


for file in os.listdir(path):
    if file.endswith(".csv"):
        dataset_path = os.path.join(path, file)
        break

df = pd.read_csv(dataset_path)

print("First 5 rows of the dataset:")
print(df.head())

First 5 rows of the dataset:
   Patient_ID        State_Name  Age  Gender  Diabetes  Hypertension  Obesity  \
0           1         Rajasthan   42  Female         0             0        1
1           2  Himachal Pradesh   26    Male         0             0        0
2           3             Assam   78    Male         0             0        1
3           4            Odisha   58    Male         1             0        1
4           5         Karnataka   22    Male         0             0        0

   Smoking  Alcohol_Consumption  Physical_Activity  ...  Diastolic_BP  \
0        1                    0                  0  ...           119
1        0                    1                  1  ...           115
2        0                    0                  1  ...           117
3        0                    0                  1  ...            65
4        0                    0                  1  ...           109

   Air_Pollution_Exposure  Family_History  Stress_Level  Healthcare_Access  \
0                       1               0             4                  0
1                       0               0             7                  0
2                       0               1            10                  1
3                       0               0             1                  1
4                       0               0             9                  0

   Heart_Attack_History  Emergency_Response_Time  Annual_Income  \
0                     0                      157         611025
1                     0                      331         174527
2                     0                      186        1760112
3                     1                      324        1398213
4                     0                      209          97987

   Health_Insurance  Heart_Attack_Risk
0                 0                  0
1                 0                  0
2                 1                  0
3                 0                  0
4                 0                  1

[5 rows x 26 columns]

In [4]:


for file in os.listdir(path):
    if file.endswith(".csv"):
        dataset_path = os.path.join(path, file)
        break

df = pd.read_csv(dataset_path)

num_features = df.shape[1]

print("Total number of features (columns):", num_features)
print("Feature names:", list(df.columns))

Total number of features (columns): 26
Feature names: ['Patient_ID', 'State_Name', 'Age', 'Gender', 'Diabetes', 'Hypertension', 'Obesity', 'Smoking', 'Alcohol_Consumption', 'Physical_Activity', 'Diet_Score', 'Cholesterol_Level', 'Triglyceride_Level', 'LDL_Level', 'HDL_Level', 'Systolic_BP', 'Diastolic_BP', 'Air_Pollution_Exposure', 'Family_History', 'Stress_Level', 'Healthcare_Access', 'Heart_Attack_History', 'Emergency_Response_Time', 'Annual_Income', 'Health_Insurance', 'Heart_Attack_Risk']

In [5]:
# Z-Score Normalization

from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
df[numerical_cols] = scaler.fit_transform(df[numerical_cols])

NameError: name 'numerical_cols' is not defined

In [6]:
print("Columns in dataset:")
print(df.columns.tolist())

Columns in dataset:
['Patient_ID', 'State_Name', 'Age', 'Gender', 'Diabetes', 'Hypertension', 'Obesity', 'Smoking', 'Alcohol_Consumption', 'Physical_Activity', 'Diet_Score', 'Cholesterol_Level', 'Triglyceride_Level', 'LDL_Level', 'HDL_Level', 'Systolic_BP', 'Diastolic_BP', 'Air_Pollution_Exposure', 'Family_History', 'Stress_Level', 'Healthcare_Access', 'Heart_Attack_History', 'Emergency_Response_Time', 'Annual_Income', 'Health_Insurance', 'Heart_Attack_Risk']

In [7]:
numerical_cols = ["age", "trestbps", "chol", "thalach", "oldpeak"]
categorical_cols = ["cp", "restecg", "slope", "thal"]
binary_cols = ["sex", "fbs", "exang"]

In [8]:
print("Dataset columns:")
print(df.columns.tolist())

Dataset columns:
['Patient_ID', 'State_Name', 'Age', 'Gender', 'Diabetes', 'Hypertension', 'Obesity', 'Smoking', 'Alcohol_Consumption', 'Physical_Activity', 'Diet_Score', 'Cholesterol_Level', 'Triglyceride_Level', 'LDL_Level', 'HDL_Level', 'Systolic_BP', 'Diastolic_BP', 'Air_Pollution_Exposure', 'Family_History', 'Stress_Level', 'Healthcare_Access', 'Heart_Attack_History', 'Emergency_Response_Time', 'Annual_Income', 'Health_Insurance', 'Heart_Attack_Risk']

**Z Score Normalization**

In [9]:
# Z-Score Normalization

import numpy as np

def z_score_normalization(image_array):

    mean = np.mean(image_array)
    std = np.std(image_array)
    if std == 0:
        return image_array  # avoid division by zero
    return (image_array - mean) / std

In [10]:
numerical_cols = ["Age", "Cholesterol", "BloodPressure", "MaxHR", "Oldpeak"]

In [11]:
from sklearn.preprocessing import StandardScaler

numeric_cols = [
    'Age', 'Cholesterol_Level', 'Triglyceride_Level',
    'LDL_Level', 'HDL_Level', 'Systolic_BP', 'Diastolic_BP',
    'Stress_Level', 'Emergency_Response_Time', 'Annual_Income'
]

scaler = StandardScaler()
df[numeric_cols] = scaler.fit_transform(df[numeric_cols])

**HNDLING MISSING VALUES**

In [12]:
import pandas as pd
from sklearn.impute import SimpleImputer


numeric_cols = [
    'Age', 'Cholesterol_Level', 'Triglyceride_Level',
    'LDL_Level', 'HDL_Level', 'Systolic_BP', 'Diastolic_BP',
    'Stress_Level', 'Emergency_Response_Time', 'Annual_Income'
]

In [13]:
categorical_cols = [
    'State_Name', 'Gender', 'Diabetes', 'Hypertension', 'Obesity',
    'Smoking', 'Alcohol_Consumption', 'Physical_Activity',
    'Diet_Score', 'Family_History', 'Healthcare_Access',
    'Health_Insurance', 'Heart_Attack_History'
]

In [15]:
num_imputer = SimpleImputer(strategy='median')
df[numeric_cols] = num_imputer.fit_transform(df[numeric_cols])

cat_imputer = SimpleImputer(strategy='most_frequent')
df[categorical_cols] = cat_imputer.fit_transform(df[categorical_cols])

print("Missing values handled.")
print(df.isnull().sum())

Missing values handled.
Patient_ID                 0
State_Name                 0
Age                        0
Gender                     0
Diabetes                   0
Hypertension               0
Obesity                    0
Smoking                    0
Alcohol_Consumption        0
Physical_Activity          0
Diet_Score                 0
Cholesterol_Level          0
Triglyceride_Level         0
LDL_Level                  0
HDL_Level                  0
Systolic_BP                0
Diastolic_BP               0
Air_Pollution_Exposure     0
Family_History             0
Stress_Level               0
Healthcare_Access          0
Heart_Attack_History       0
Emergency_Response_Time    0
Annual_Income              0
Health_Insurance           0
Heart_Attack_Risk          0
dtype: int64

**Encode Categorical Variables**

In [16]:
import pandas as pd
from sklearn.impute import SimpleImputer


numeric_candidates = [
    'Age', 'Cholesterol_Level', 'Triglyceride_Level',
    'LDL_Level', 'HDL_Level', 'Systolic_BP', 'Diastolic_BP',
    'Stress_Level', 'Emergency_Response_Time', 'Annual_Income'
]

categorical_candidates = [
    'State_Name', 'Gender', 'Diabetes', 'Hypertension', 'Obesity',
    'Smoking', 'Alcohol_Consumption', 'Physical_Activity',
    'Diet_Score', 'Family_History', 'Healthcare_Access',
    'Health_Insurance', 'Heart_Attack_History'
]

In [17]:
numeric_cols = [col for col in numeric_candidates if col in df.columns]
categorical_cols = [col for col in categorical_candidates if col in df.columns]

if numeric_cols:
    num_imputer = SimpleImputer(strategy='median')
    df[numeric_cols] = num_imputer.fit_transform(df[numeric_cols])

In [18]:
if categorical_cols:
    cat_imputer = SimpleImputer(strategy='most_frequent')
    df[categorical_cols] = cat_imputer.fit_transform(df[categorical_cols])

print("Missing values handled successfully.")
print("Remaining nulls:\n", df.isnull().sum())

Missing values handled successfully.
Remaining nulls:
 Patient_ID                 0
State_Name                 0
Age                        0
Gender                     0
Diabetes                   0
Hypertension               0
Obesity                    0
Smoking                    0
Alcohol_Consumption        0
Physical_Activity          0
Diet_Score                 0
Cholesterol_Level          0
Triglyceride_Level         0
LDL_Level                  0
HDL_Level                  0
Systolic_BP                0
Diastolic_BP               0
Air_Pollution_Exposure     0
Family_History             0
Stress_Level               0
Healthcare_Access          0
Heart_Attack_History       0
Emergency_Response_Time    0
Annual_Income              0
Health_Insurance           0
Heart_Attack_Risk          0
dtype: int64

**Feature Engineering**

In [19]:
import pandas as pd

if 'Obesity' in df.columns:
    df['Obesity_Risk'] = df['Obesity'] * df['Cholesterol_Level']

if 'Systolic_BP' in df.columns and 'Diastolic_BP' in df.columns:
    df['BP_Difference'] = df['Systolic_BP'] - df['Diastolic_BP']

if 'Cholesterol_Level' in df.columns and 'HDL_Level' in df.columns:
    df['Chol_HDL_Ratio'] = df['Cholesterol_Level'] / (df['HDL_Level'] + 1e-5)

if 'LDL_Level' in df.columns and 'HDL_Level' in df.columns:
    df['LDL_HDL_Ratio'] = df['LDL_Level'] / (df['HDL_Level'] + 1e-5)

if 'Triglyceride_Level' in df.columns and 'HDL_Level' in df.columns:
    df['TG_HDL_Ratio'] = df['Triglyceride_Level'] / (df['HDL_Level'] + 1e-5)

In [20]:
if 'Age' in df.columns:
    df['Age_Group'] = pd.cut(
        df['Age'],
        bins=[0, 30, 45, 60, 75, 100],
        labels=['Young', 'Middle_Age', 'Senior', 'Old', 'Very_Old']
    )

risk_factors = [
    'Diabetes', 'Hypertension', 'Smoking',
    'Alcohol_Consumption', 'Family_History', 'Obesity'
]

In [21]:
existing_cols = [col for col in risk_factors if col in df.columns]
if existing_cols:
    df['Risk_Factor_Sum'] = df[existing_cols].sum(axis=1)

print("Feature Engineering complete.")
print(df.head())

Feature Engineering complete.
   Patient_ID        State_Name       Age  Gender Diabetes Hypertension  \
0           1         Rajasthan -0.427960  Female        0            0
1           2  Himachal Pradesh -1.353916    Male        0            0
2           3             Assam  1.655442    Male        0            0
3           4            Odisha  0.497997    Male        1            0
4           5         Karnataka -1.585405    Male        0            0

  Obesity Smoking Alcohol_Consumption Physical_Activity  ... Annual_Income  \
0       1       1                   0                 0  ...     -0.733249
1       0       0                   1                 1  ...     -1.511917
2       1       0                   0                 1  ...      1.316607
3       1       0                   0                 1  ...      0.671015
4       0       0                   0                 1  ...     -1.648457

   Health_Insurance  Heart_Attack_Risk  Obesity_Risk  BP_Difference  \
0                 0                  0      0.536176      -3.320930
1                 0                  0           0.0      -1.504778
2                 1                  0      0.997463      -2.780390
3                 0                  0     -0.017367      -0.294076
4                 0                  1           0.0      -0.889047

   Chol_HDL_Ratio  LDL_HDL_Ratio  TG_HDL_Ratio Age_Group  Risk_Factor_Sum
0       -1.271784       1.686926      1.657744       NaN                2
1       -8.118811      -4.999319     12.954742       NaN                1
2        3.720492       0.526550      2.005808     Young                2
3       -0.010186       0.082798      0.620373     Young                2
4       -0.796138      -0.397663      0.424603       NaN                0

[5 rows x 33 columns]

In [22]:
import pandas as pd
from sklearn.preprocessing import StandardScaler, MinMaxScaler


numeric_cols = df.select_dtypes(include=['int64', 'float64']).columns.tolist()

# --- Option 1: Standardization (Z-score normalization) ---
scaler_std = StandardScaler()
df[numeric_cols] = scaler_std.fit_transform(df[numeric_cols])


print("Feature Scaling applied on numeric columns.")
print(df.head())

Feature Scaling applied on numeric columns.
   Patient_ID        State_Name       Age  Gender Diabetes Hypertension  \
0   -1.731878         Rajasthan -0.427960  Female        0            0
1   -1.731531  Himachal Pradesh -1.353916    Male        0            0
2   -1.731185             Assam  1.655442    Male        0            0
3   -1.730838            Odisha  0.497997    Male        1            0
4   -1.730492         Karnataka -1.585405    Male        0            0

  Obesity Smoking Alcohol_Consumption Physical_Activity  ... Annual_Income  \
0       1       1                   0                 0  ...     -0.733249
1       0       0                   1                 1  ...     -1.511917
2       1       0                   0                 1  ...      1.316607
3       1       0                   0                 1  ...      0.671015
4       0       0                   0                 1  ...     -1.648457

   Health_Insurance  Heart_Attack_Risk  Obesity_Risk  BP_Difference  \
0                 0          -0.655745      0.536176      -2.339928
1                 0          -0.655745           0.0      -1.060267
2                 1          -0.655745      0.997463      -1.959064
3                 0          -0.655745     -0.017367      -0.207206
4                 0           1.524983           0.0      -0.626423

   Chol_HDL_Ratio  LDL_HDL_Ratio  TG_HDL_Ratio Age_Group  Risk_Factor_Sum
0       -0.160454       0.225579      0.232817       NaN                2
1       -1.057280      -0.646381      1.693834       NaN                1
2        0.493437       0.074253      0.277831     Young                2
3        0.004791       0.016383      0.098656     Young                2
4       -0.098153      -0.046274      0.073338       NaN                0

[5 rows x 33 columns]

**Handling Outliera**

In [25]:



numeric_cols = df.select_dtypes(include=['int64', 'float64']).columns.tolist()

def handle_outliers_iqr(data, cols):
    for col in cols:
        Q1 = data[col].quantile(0.25)
        Q3 = data[col].quantile(0.75)
        IQR = Q3 - Q1
        lower_bound = Q1 - 1.5 * IQR
        upper_bound = Q3 + 1.5 * IQR

        data[col] = data[col].clip(lower=lower_bound, upper=upper_bound)



    return data


df = handle_outliers_iqr(df, numeric_cols)

print("Outlier detection & handling complete.")

Outlier detection & handling complete.

**Adding New Features**

In [35]:


# Composite Clinical Ratios
if 'Cholesterol_Level' in df.columns and 'HDL_Level' in df.columns:
    df['Chol_HDL_Ratio'] = df['Cholesterol_Level'] / (df['HDL_Level'] + 1e-5)

if 'LDL_Level' in df.columns and 'HDL_Level' in df.columns:
    df['LDL_HDL_Ratio'] = df['LDL_Level'] / (df['HDL_Level'] + 1e-5)

if 'Triglyceride_Level' in df.columns and 'HDL_Level' in df.columns:
    df['TG_HDL_Ratio'] = df['Triglyceride_Level'] / (df['HDL_Level'] + 1e-5)

In [29]:
# 2.Risk Scores
risk_factors = ['Diabetes', 'Hypertension', 'Smoking', 'Alcohol_Consumption', 'Obesity', 'Family_History']
existing_risk = [col for col in risk_factors if col in df.columns]

if existing_risk:
    df['Risk_Factor_Sum'] = df[existing_risk].sum(axis=1)

    weights = {
        'Diabetes': 2.0,
        'Hypertension': 1.5,
        'Smoking': 1.5,
        'Alcohol_Consumption': 1.2,
        'Obesity': 1.3,
        'Family_History': 2.0
    }
    df['Risk_Factor_Weighted'] = df[existing_risk].apply(
        lambda row: sum(row[col] * weights[col] for col in existing_risk), axis=1
    )

In [31]:
# 3. Blood Pressure Feature
if 'Systolic_BP' in df.columns and 'Diastolic_BP' in df.columns:
    df['BP_Difference'] = df['Systolic_BP'] - df['Diastolic_BP']   # Pulse pressure
    df['BP_Ratio'] = df['Systolic_BP'] / (df['Diastolic_BP'] + 1e-5)

    def bp_category(row):
        if row['Systolic_BP'] < 120 and row['Diastolic_BP'] < 80:
            return "Normal"
        elif (120 <= row['Systolic_BP'] < 140) or (80 <= row['Diastolic_BP'] < 90):
            return "Prehypertension"
        elif (140 <= row['Systolic_BP'] < 160) or (90 <= row['Diastolic_BP'] < 100):
            return "Stage1"
        else:
            return "Stage2"
    df['BP_Category'] = df.apply(bp_category, axis=1)

In [32]:
# 4. Lifestyle & Environment Features
if 'Physical_Activity' in df.columns and 'Diet_Score' in df.columns:
    df['Lifestyle_Index'] = df['Physical_Activity'].astype(str) + "_" + df['Diet_Score'].astype(str)

if 'Air_Pollution_Exposure' in df.columns and 'Smoking' in df.columns:
    df['Pollution_Smoking_Interaction'] = df['Air_Pollution_Exposure'] * df['Smoking']

In [33]:
if 'Annual_Income' in df.columns and 'Emergency_Response_Time' in df.columns:
    df['Income_to_Response'] = df['Annual_Income'] / (df['Emergency_Response_Time'] + 1e-5)

if 'Health_Insurance' in df.columns and 'Healthcare_Access' in df.columns:
    df['Insurance_Access_Score'] = df['Health_Insurance'] * df['Healthcare_Access']

In [34]:
if 'Age' in df.columns:
    df['Age_Squared'] = df['Age'] ** 2
    df['Age_Group'] = pd.cut(
        df['Age'],
        bins=[0, 30, 45, 60, 75, 100],
        labels=['Young', 'Middle_Age', 'Senior', 'Old', 'Very_Old']
    )

print("New engineered features added successfully.")
print(df.head())

New engineered features added successfully.
   Patient_ID        State_Name       Age  Gender Diabetes Hypertension  \
0   -1.731878         Rajasthan -0.427960  Female        0            0
1   -1.731531  Himachal Pradesh -1.353916    Male        0            0
2   -1.731185             Assam  1.655442    Male        0            0
3   -1.730838            Odisha  0.497997    Male        1            0
4   -1.730492         Karnataka -1.585405    Male        0            0

  Obesity Smoking Alcohol_Consumption Physical_Activity  ... Age_Group  \
0       1       1                   0                 0  ...       NaN
1       0       0                   1                 1  ...       NaN
2       1       0                   0                 1  ...     Young
3       1       0                   0                 1  ...     Young
4       0       0                   0                 1  ...       NaN

   Risk_Factor_Sum  Risk_Factor_Weighted  BP_Ratio  BP_Category  \
0                2                   2.8 -0.945886       Normal
1                1                   1.2 -0.019018       Normal
2                2                   3.3 -0.746839       Normal
3                2                   3.3  1.210424       Normal
4                0                   0.0  0.214468       Normal

   Lifestyle_Index  Pollution_Smoking_Interaction  Income_to_Response  \
0              0_9                       1.215607            1.668756
1              1_4                           -0.0           -1.363518
2              1_6                           -0.0           -7.259654
3              1_9                           -0.0            0.641168
4              1_5                           -0.0          -70.772798

  Insurance_Access_Score  Age_Squared
0                      0     0.183149
1                      0     1.833087
2                      1     2.740487
3                      0     0.248001
4                      0     2.513508

[5 rows x 41 columns]